# LOW CURRENT OCV AT -10 degree celcius

In [1]:

import pandas as pd 


# Read a specific sheet by name
low_curr_ocv_minus_10= pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Low Current OCV\OCV-10-20120629\A1-007-OCV-10-20120629.xlsx", sheet_name=1)


low_curr_ocv_minus_10.head(10)

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
0,1,3.010944,2012-06-29 16:51:38,3.010944,1,1,0.000000,3.480732,0.000000,0.0,0.000000,0.0,0.000000,0,0,0,0,-10.479673,-10.747040
1,2,3.026961,2012-06-29 16:51:38,0.015765,2,1,1.151195,3.917767,0.000005,0.0,0.000020,0.0,0.000000,0,0,0,0,-10.479673,-10.747040
2,3,8.035992,2012-06-29 16:51:44,5.007575,3,1,0.205528,3.601070,0.000324,0.0,0.001168,0.0,-0.000062,0,0,0,0,-10.401703,-10.715146
3,4,13.043648,2012-06-29 16:51:49,10.015231,3,1,0.174495,3.601070,0.000587,0.0,0.002115,0.0,0.000000,0,0,0,0,-10.433580,-10.715146
4,5,18.051127,2012-06-29 16:51:54,15.022710,3,1,0.151629,3.601070,0.000813,0.0,0.002930,0.0,0.000000,0,0,0,0,-10.479673,-10.747040
5,6,23.058702,2012-06-29 16:51:59,20.030285,3,1,0.133118,3.601070,0.001011,0.0,0.003641,0.0,0.000000,0,0,0,0,-10.401703,-10.668956
6,7,28.066285,2012-06-29 16:52:04,25.037868,3,1,0.118055,3.600763,0.001185,0.0,0.004269,0.0,-0.000062,0,0,0,0,-10.323741,-10.747040
7,8,33.073845,2012-06-29 16:52:09,30.045427,3,1,0.105533,3.601070,0.001340,0.0,0.004828,0.0,0.000062,0,0,0,0,-10.355616,-10.778935
8,9,38.081417,2012-06-29 16:52:14,35.053000,3,1,0.095008,3.600763,0.001479,0.0,0.005327,0.0,-0.000062,0,0,0,0,-10.401703,-10.715146
9,10,43.089009,2012-06-29 16:52:19,40.060591,3,1,0.085934,3.601070,0.001604,0.0,0.005779,0.0,0.000000,0,0,0,0,-10.323741,-10.715146

In [2]:
low_curr_ocv_minus_10.describe()

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
count,29785.00000,29785.000000,29785,29785.000000,29785.000000,29785.0,29785.000000,29785.000000,29785.000000,29785.000000,29785.000000,29785.000000,29785.000000,29785.0,29785.0,29785.0,29785.0,29785.000000,29785.000000
mean,14893.00000,79452.354943,2012-06-30 14:55:48.690951936,36718.816502,5.960987,1.0,-0.001474,3.250768,0.244154,0.784247,0.806757,2.500893,-0.000003,0.0,0.0,0.0,0.0,-10.632628,-10.646263
min,1.00000,3.010944,2012-06-29 16:51:38,0.015765,1.000000,1.0,-0.050016,1.999740,0.000000,0.000000,0.000000,0.000000,-0.001723,0.0,0.0,0.0,0.0,-11.164143,-11.129825
25%,7447.00000,40580.632806,2012-06-30 04:07:57,18022.251663,5.000000,1.0,-0.049995,3.212048,0.003676,0.508911,0.013240,1.657161,-0.000061,0.0,0.0,0.0,0.0,-10.706276,-10.778935
50%,14893.00000,77867.013967,2012-06-30 14:29:23,36665.442255,5.000000,1.0,-0.049992,3.270833,0.003676,1.026729,0.013240,3.273299,0.000000,0.0,0.0,0.0,0.0,-10.628275,-10.654655
75%,22339.00000,118452.093694,2012-07-01 01:45:49,55308.632827,7.000000,1.0,0.049996,3.356701,0.483947,1.060098,1.591842,3.353332,0.000000,0.0,0.0,0.0,0.0,-10.550286,-10.519357
max,29785.00000,159037.139119,2012-07-01 13:02:14,76334.569682,8.000000,1.0,1.151195,3.917767,0.997583,1.060098,3.336970,3.353332,0.004740,0.0,0.0,0.0,0.0,-10.228122,-10.166263
std,8598.33322,44515.946548,NaN,21570.964248,1.013849,0.0,0.050279,0.179747,0.319669,0.347102,1.061935,1.088521,0.000081,0.0,0.0,0.0,0.0,0.126547,0.167169

In [3]:
low_curr_ocv_minus_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29785 entries, 0 to 29784
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data_Point                29785 non-null  int64
 1   Test_Time(s)              29785 non-null  float64
 2   Date_Time                 29785 non-null  datetime64[ns]
 3   Step_Time(s)              29785 non-null  float64
 4   Step_Index                29785 non-null  int64
 5   Cycle_Index               29785 non-null  int64
 6   Current(A)                29785 non-null  float64
 7   Voltage(V)                29785 non-null  float64
 8   Charge_Capacity(Ah)       29785 non-null  float64
 9   Discharge_Capacity(Ah)    29785 non-null  float64
 10  Charge_Energy(Wh)         29785 non-null  float64
 11  Discharge_Energy(Wh)      29785 non-null  float64
 12  dV/dt(V/s)                29785 non-null  float64
 13  Internal_Resistance(Ohm)  29785 non-null  int64
 14  Is_FC_Data                29785 non-null  int64
 15  AC_Impedance(Ohm)         29785 non-null  int64
 16  ACI_Phase_Angle(Deg)      29785 non-null  int64
 17  Temperature (C)_1         29785 non-null  float64
 18  Temperature (C)_2         29785 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(7)
memory usage: 4.3 MB

# LOW CURRENT OCV AT 0 degree celcius

In [4]:
low_curr_ocv_0=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Low Current OCV\OCV0-20120618\A1-007-OCV0-20120618.xlsx", sheet_name=1)

In [5]:
low_curr_ocv_0.head(10)

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
0,1,3.014942,2012-06-18 11:49:18,3.014942,1,1,0.000000,3.374551,0.000000,0.0,0.000000,0.0,0.000000,0,0,0,0,1.344387,0.153668
1,2,3.046301,2012-06-18 11:49:18,0.031089,2,1,1.151157,3.731873,0.000010,0.0,0.000037,0.0,0.000000,0,0,0,0,1.237479,0.215720
2,3,8.054232,2012-06-18 11:49:23,5.007584,3,1,0.618210,3.600763,0.000906,0.0,0.003263,0.0,0.000000,0,0,0,0,1.389231,0.184692
3,4,13.061941,2012-06-18 11:49:28,10.015293,3,1,0.581370,3.601070,0.001739,0.0,0.006264,0.0,0.000061,0,0,0,0,1.358200,0.032819
4,5,18.073395,2012-06-18 11:49:33,15.026747,3,1,0.548341,3.600763,0.002526,0.0,0.009096,0.0,-0.000061,0,0,0,0,1.206449,0.108755
5,6,23.080863,2012-06-18 11:49:38,20.034215,3,1,0.518034,3.600763,0.003267,0.0,0.011765,0.0,0.000000,0,0,0,0,1.375421,0.108755
6,7,28.088504,2012-06-18 11:49:43,25.041856,3,1,0.490268,3.601070,0.003968,0.0,0.014289,0.0,0.000061,0,0,0,0,1.282325,0.184692
7,8,33.096150,2012-06-18 11:49:48,30.049501,3,1,0.464135,3.601070,0.004631,0.0,0.016678,0.0,0.000000,0,0,0,0,1.282325,0.153668
8,9,38.103670,2012-06-18 11:49:53,35.057022,3,1,0.439454,3.601070,0.005259,0.0,0.018940,0.0,0.000000,0,0,0,0,1.313356,0.229606
9,10,43.111231,2012-06-18 11:49:58,40.064583,3,1,0.416225,3.600763,0.005854,0.0,0.021083,0.0,-0.000061,0,0,0,0,1.327169,0.108755

In [6]:
low_curr_ocv_0.describe()

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
count,30249.000000,30249.000000,30249,30249.000000,30249.000000,30249.0,30249.000000,30249.000000,30249.000000,30249.000000,30249.000000,30249.000000,30249.000000,30249.0,30249.0,30249.0,30249.0,30249.000000,30249.000000
mean,15125.000000,80615.643879,2012-06-19 10:12:51.466792448,36962.274515,5.962048,1.0,-0.000406,3.272463,0.269493,0.783037,0.893144,2.528428,-0.000004,0.0,0.0,0.0,0.0,0.189379,-0.117064
min,1.000000,3.014942,2012-06-18 11:49:18,0.031089,1.000000,1.0,-0.050002,1.999740,0.000000,0.000000,0.000000,0.000000,-0.003570,0.0,0.0,0.0,0.0,-0.277211,-0.563353
25%,7563.000000,41162.668955,2012-06-18 23:15:18,17997.213788,5.000000,1.0,-0.049995,3.238517,0.020497,0.508155,0.073808,1.665156,0.000000,0.0,0.0,0.0,0.0,0.109906,-0.214960
50%,15125.000000,79029.928468,2012-06-19 09:46:26,36930.843545,5.000000,1.0,-0.049992,3.286529,0.020497,1.034048,0.073808,3.335689,0.000000,0.0,0.0,0.0,0.0,0.186293,-0.141830
75%,22687.000000,120193.073943,2012-06-19 21:12:29,55864.473308,7.000000,1.0,0.049996,3.347467,0.518149,1.058059,1.705592,3.397926,0.000000,0.0,0.0,0.0,0.0,0.258263,-0.028202
max,30249.000000,161359.267642,2012-06-20 08:38:36,76186.533244,8.000000,1.0,1.151157,3.731873,1.039862,1.058059,3.470905,3.397926,0.002216,0.0,0.0,0.0,0.0,1.389231,0.474568
std,8732.278483,45209.697396,NaN,21853.017650,1.030102,0.0,0.051345,0.135318,0.328523,0.348586,1.088095,1.112462,0.000102,0.0,0.0,0.0,0.0,0.135568,0.143589

In [7]:
low_curr_ocv_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30249 entries, 0 to 30248
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data_Point                30249 non-null  int64
 1   Test_Time(s)              30249 non-null  float64
 2   Date_Time                 30249 non-null  datetime64[ns]
 3   Step_Time(s)              30249 non-null  float64
 4   Step_Index                30249 non-null  int64
 5   Cycle_Index               30249 non-null  int64
 6   Current(A)                30249 non-null  float64
 7   Voltage(V)                30249 non-null  float64
 8   Charge_Capacity(Ah)       30249 non-null  float64
 9   Discharge_Capacity(Ah)    30249 non-null  float64
 10  Charge_Energy(Wh)         30249 non-null  float64
 11  Discharge_Energy(Wh)      30249 non-null  float64
 12  dV/dt(V/s)                30249 non-null  float64
 13  Internal_Resistance(Ohm)  30249 non-null  int64
 14  Is_FC_Data                30249 non-null  int64
 15  AC_Impedance(Ohm)         30249 non-null  int64
 16  ACI_Phase_Angle(Deg)      30249 non-null  int64
 17  Temperature (C)_1         30249 non-null  float64
 18  Temperature (C)_2         30249 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(7)
memory usage: 4.4 MB

# LOW CURRENT OCV AT 10 degree celcius

In [8]:
low_curr_ocv_10=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Low Current OCV\OCV10-20120611\A1-007-OCV10-20120611.xlsx",sheet_name=1)

In [9]:
low_curr_ocv_10.head(10)

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
0,1,3.014079,2012-06-11 18:47:47,3.014079,1,1,0.000000,3.306226,0.000000e+00,0.0,0.000000e+00,0.0,0.000000,0,0,0,0,14.691071,10.474250
1,2,3.025053,2012-06-11 18:47:47,0.000002,2,1,1.151233,3.630309,4.924180e-10,0.0,1.787630e-09,0.0,0.000000,0,0,0,0,14.691071,10.474250
2,3,8.032849,2012-06-11 18:47:52,5.007554,3,1,0.984615,3.601378,1.396968e-03,0.0,5.030445e-03,0.0,0.000062,0,0,0,0,14.660149,10.398444
3,4,13.040499,2012-06-11 18:47:57,10.015204,3,1,0.956486,3.600763,2.746191e-03,0.0,9.888933e-03,0.0,-0.000123,0,0,0,0,14.660149,10.594855
4,5,18.046321,2012-06-11 18:48:02,15.021026,3,1,0.935072,3.600763,4.060911e-03,0.0,1.462320e-02,0.0,0.000000,0,0,0,0,14.766606,10.563857
5,6,23.053825,2012-06-11 18:48:07,20.028530,3,1,0.916924,3.601070,5.344582e-03,0.0,1.924562e-02,0.0,0.000000,0,0,0,0,14.704762,10.639657
6,7,28.061527,2012-06-11 18:48:12,25.036233,3,1,0.901861,3.600763,6.613142e-03,0.0,2.381363e-02,0.0,-0.000061,0,0,0,0,14.629224,10.639657
7,8,33.068989,2012-06-11 18:48:17,30.043694,3,1,0.889157,3.600763,7.858483e-03,0.0,2.829801e-02,0.0,0.000000,0,0,0,0,14.793987,11.108195
8,9,38.076571,2012-06-11 18:48:22,35.051276,3,1,0.878269,3.601070,9.087465e-03,0.0,3.272353e-02,0.0,0.000061,0,0,0,0,14.718454,10.970435
9,10,43.084085,2012-06-11 18:48:27,40.058790,3,1,0.868832,3.600763,1.030233e-02,0.0,3.709818e-02,0.0,-0.000061,0,0,0,0,14.687536,11.046219

In [10]:
low_curr_ocv_10.describe()

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
count,31898.00000,31898.000000,31898,31898.000000,31898.000000,31898.0,31898.000000,31898.000000,31898.000000,31898.000000,31898.000000,31898.000000,31898.000000,31898.0,31898.0,31898.0,31898.0,31898.000000,31898.000000
mean,15949.50000,84407.542774,2012-06-12 23:21:28.604269824,35034.642104,5.807605,1.0,0.010184,3.296589,0.703186,0.730850,2.455401,2.373493,-0.000003,0.0,0.0,0.0,0.0,10.542734,10.168654
min,1.00000,3.014079,2012-06-11 18:47:47,0.000002,1.000000,1.0,-0.050002,1.999740,0.000000,0.000000,0.000000,0.000000,-0.002585,0.0,0.0,0.0,0.0,9.866497,9.637308
25%,7975.25000,43127.482188,2012-06-12 12:56:42.249999872,14612.052933,5.000000,1.0,-0.049995,3.254521,0.468657,0.412755,1.687623,1.362004,0.000000,0.0,0.0,0.0,0.0,10.427615,10.026422
50%,15949.50000,83059.113340,2012-06-13 00:02:14.500000,34527.490563,5.000000,1.0,0.022961,3.306688,0.468657,0.967301,1.687623,3.150585,0.000000,0.0,0.0,0.0,0.0,10.510347,10.174716
75%,23923.75000,126287.349589,2012-06-13 12:02:42.750000128,54492.820953,7.000000,1.0,0.049992,3.347775,0.944158,1.042122,3.239634,3.367444,0.000000,0.0,0.0,0.0,0.0,10.620605,10.291631
max,31898.00000,169513.642825,2012-06-14 00:03:10,75041.088878,8.000000,1.0,1.151233,3.630309,1.494451,1.042122,5.097309,3.367444,0.002336,0.0,0.0,0.0,0.0,14.793987,11.108195
std,9208.30378,47856.153587,NaN,22318.590732,1.210257,0.0,0.089228,0.143565,0.332197,0.377285,1.098914,1.214685,0.000104,0.0,0.0,0.0,0.0,0.313033,0.165853

In [11]:
low_curr_ocv_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31898 entries, 0 to 31897
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data_Point                31898 non-null  int64
 1   Test_Time(s)              31898 non-null  float64
 2   Date_Time                 31898 non-null  datetime64[ns]
 3   Step_Time(s)              31898 non-null  float64
 4   Step_Index                31898 non-null  int64
 5   Cycle_Index               31898 non-null  int64
 6   Current(A)                31898 non-null  float64
 7   Voltage(V)                31898 non-null  float64
 8   Charge_Capacity(Ah)       31898 non-null  float64
 9   Discharge_Capacity(Ah)    31898 non-null  float64
 10  Charge_Energy(Wh)         31898 non-null  float64
 11  Discharge_Energy(Wh)      31898 non-null  float64
 12  dV/dt(V/s)                31898 non-null  float64
 13  Internal_Resistance(Ohm)  31898 non-null  int64
 14  Is_FC_Data                31898 non-null  int64
 15  AC_Impedance(Ohm)         31898 non-null  int64
 16  ACI_Phase_Angle(Deg)      31898 non-null  int64
 17  Temperature (C)_1         31898 non-null  float64
 18  Temperature (C)_2         31898 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(7)
memory usage: 4.6 MB

# LOW CURRENT OCV AT 20 degree celcius

In [12]:
low_curr_ocv_20=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Low Current OCV\OCV20-20120614\A1-007-OCV20-20120614.xlsx",sheet_name=1)

In [13]:
low_curr_ocv_20.head(10)

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
0,1,3.007810,2012-06-14 12:13:15,3.007810,1,1,0.000000,3.370858,0.000000e+00,0.0,0.000000e+00,0.0,0.000000,0,0,0,0,21.428257,21.426794
1,2,3.008080,2012-06-14 12:13:15,0.000002,2,1,1.151195,3.688785,6.155050e-10,0.0,2.270465e-09,0.0,0.000000,0,0,0,0,21.503389,21.457571
2,3,8.015990,2012-06-14 12:13:20,5.007662,3,1,0.785170,3.601378,1.117342e-03,0.0,4.023588e-03,0.0,0.000061,0,0,0,0,21.397478,21.502007
3,4,13.023481,2012-06-14 12:13:25,10.015153,3,1,0.756315,3.601070,2.185729e-03,0.0,7.870907e-03,0.0,-0.000061,0,0,0,0,21.366697,21.502007
4,5,18.035039,2012-06-14 12:13:30,15.026711,3,1,0.730364,3.601070,3.223621e-03,0.0,1.160838e-02,0.0,0.000000,0,0,0,0,21.441835,21.502007
5,6,23.042624,2012-06-14 12:13:35,20.034296,3,1,0.706409,3.601070,4.219641e-03,0.0,1.519507e-02,0.0,0.000061,0,0,0,0,21.397478,21.546440
6,7,28.050181,2012-06-14 12:13:40,25.041853,3,1,0.683361,3.600763,5.189203e-03,0.0,1.868648e-02,0.0,-0.000061,0,0,0,0,21.564943,21.532782
7,8,33.057714,2012-06-14 12:13:45,30.049386,3,1,0.661402,3.601070,6.121583e-03,0.0,2.204399e-02,0.0,0.000000,0,0,0,0,21.534166,21.683189
8,9,38.065421,2012-06-14 12:13:50,35.057093,3,1,0.639988,3.601070,7.029485e-03,0.0,2.531338e-02,0.0,-0.000062,0,0,0,0,21.459034,21.502007
9,10,43.072973,2012-06-14 12:13:55,40.064645,3,1,0.618755,3.601070,7.905004e-03,0.0,2.846612e-02,0.0,0.000000,0,0,0,0,21.489815,21.669540

In [14]:
low_curr_ocv_20.describe()

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
count,31018.000000,31018.000000,31018,31018.000000,31018.000000,31018.0,31018.000000,31018.000000,31018.000000,31018.000000,31018.000000,31018.000000,31018.000000,31018.0,31018.0,31018.0,31018.0,31018.000000,31018.000000
mean,15509.500000,82530.938666,2012-06-15 11:08:43.815655168,37436.752180,5.955671,1.0,0.000552,3.282977,0.294674,0.786692,0.977257,2.561448,-0.000003,0.0,0.0,0.0,0.0,21.450393,21.095976
min,1.000000,3.007810,2012-06-14 12:13:15,0.000002,1.000000,1.0,-0.050002,1.999740,0.000000,0.000000,0.000000,0.000000,-0.002643,0.0,0.0,0.0,0.0,20.781603,20.445669
25%,7755.250000,42125.027738,2012-06-14 23:55:17.249999872,17983.441759,5.000000,1.0,-0.049995,3.257291,0.036222,0.507812,0.130435,1.676548,0.000000,0.0,0.0,0.0,0.0,21.341883,20.993530
50%,15509.500000,80954.993049,2012-06-15 10:42:27.500000,37399.049136,5.000000,1.0,0.010439,3.306226,0.036222,1.047059,0.130435,3.403715,0.000000,0.0,0.0,0.0,0.0,21.461411,21.112181
75%,23263.750000,123082.373990,2012-06-15 22:24:35.750000128,56814.656519,7.000000,1.0,0.049992,3.340697,0.553031,1.065284,1.817897,3.451398,0.000000,0.0,0.0,0.0,0.0,21.591412,21.198212
max,31018.000000,165211.592285,2012-06-16 10:06:45,76708.858391,8.000000,1.0,1.151195,3.688785,1.088088,1.065284,3.622277,3.451398,0.001908,0.0,0.0,0.0,0.0,22.206522,21.799351
std,8954.269661,46356.820098,NaN,22362.338814,1.053492,0.0,0.052675,0.127215,0.339435,0.354630,1.119980,1.142421,0.000105,0.0,0.0,0.0,0.0,0.175149,0.153295

In [15]:
low_curr_ocv_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31018 entries, 0 to 31017
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data_Point                31018 non-null  int64
 1   Test_Time(s)              31018 non-null  float64
 2   Date_Time                 31018 non-null  datetime64[ns]
 3   Step_Time(s)              31018 non-null  float64
 4   Step_Index                31018 non-null  int64
 5   Cycle_Index               31018 non-null  int64
 6   Current(A)                31018 non-null  float64
 7   Voltage(V)                31018 non-null  float64
 8   Charge_Capacity(Ah)       31018 non-null  float64
 9   Discharge_Capacity(Ah)    31018 non-null  float64
 10  Charge_Energy(Wh)         31018 non-null  float64
 11  Discharge_Energy(Wh)      31018 non-null  float64
 12  dV/dt(V/s)                31018 non-null  float64
 13  Internal_Resistance(Ohm)  31018 non-null  int64
 14  Is_FC_Data                31018 non-null  int64
 15  AC_Impedance(Ohm)         31018 non-null  int64
 16  ACI_Phase_Angle(Deg)      31018 non-null  int64
 17  Temperature (C)_1         31018 non-null  float64
 18  Temperature (C)_2         31018 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(7)
memory usage: 4.5 MB

# LOW CURRENT OCV AT 25 degree celcius

In [16]:
low_curr_ocv_25=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Low Current OCV\OCV25-20120905\A1-007-OCV-25-20120905.xlsx",sheet_name=1)

In [17]:
low_curr_ocv_25.head(10)

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1
0,1,3.003881,2012-09-05 09:50:31,3.003881,1,1,0.000000,2.897814,0.000000,0.0,0.000000,0.0,0.000000,0,0,0,0,26.686169
1,2,8.004174,2012-09-05 09:50:36,5.000008,2,1,1.178869,3.123105,0.001637,0.0,0.005093,0.0,0.002524,0,0,0,0,26.580843
2,3,13.004248,2012-09-05 09:50:41,10.000082,2,1,1.178869,3.143419,0.003275,0.0,0.010223,0.0,0.001970,0,0,0,0,26.611427
3,4,18.004260,2012-09-05 09:50:46,15.000093,2,1,1.178869,3.160962,0.004912,0.0,0.015385,0.0,0.001970,0,0,0,0,26.611427
4,5,23.005579,2012-09-05 09:50:51,20.001413,2,1,1.178907,3.176658,0.006550,0.0,0.020574,0.0,0.001539,0,0,0,0,26.597853
5,6,28.005657,2012-09-05 09:50:56,25.001492,2,1,1.178869,3.190816,0.008187,0.0,0.025788,0.0,0.001416,0,0,0,0,26.642012
6,7,33.011929,2012-09-05 09:51:01,30.007763,2,1,1.178907,3.204358,0.009827,0.0,0.031030,0.0,0.001416,0,0,0,0,26.567268
7,8,38.011951,2012-09-05 09:51:06,35.007785,2,1,1.178907,3.216977,0.011464,0.0,0.036287,0.0,0.001293,0,0,0,0,26.492516
8,9,43.011997,2012-09-05 09:51:11,40.007831,2,1,1.178869,3.228057,0.013101,0.0,0.041563,0.0,0.001108,0,0,0,0,26.492516
9,10,48.012036,2012-09-05 09:51:16,45.007870,2,1,1.178907,3.238829,0.014739,0.0,0.046857,0.0,0.001046,0,0,0,0,26.523104

In [18]:
low_curr_ocv_25.describe()

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1
count,32307.00000,32307.000000,32307,32307.000000,32307.000000,32307.0,32307.000000,32307.000000,32307.000000,32307.000000,32307.000000,32307.000000,3.230700e+04,32307.0,32307.0,32307.0,32307.0,32307.000000
mean,16154.00000,85506.863991,2012-09-06 09:35:35.959884800,36302.546619,5.837713,1.0,0.023235,3.294757,1.288418,0.758495,4.482975,2.478815,2.841182e-07,0.0,0.0,0.0,0.0,26.591280
min,1.00000,3.003881,2012-09-05 09:50:31,3.003881,1.000000,1.0,-0.050016,1.999724,0.000000,0.000000,0.000000,0.000000,-1.908207e-03,0.0,0.0,0.0,0.0,25.959494
25%,8077.50000,43696.841249,2012-09-05 21:58:45.500000,15874.938811,5.000000,1.0,-0.049991,3.264374,1.046839,0.449074,3.696726,1.489467,0.000000e+00,0.0,0.0,0.0,0.0,26.506094
50%,16154.00000,84091.821468,2012-09-06 09:12:01,36076.586865,5.000000,1.0,0.045646,3.316081,1.046839,1.010037,3.696726,3.305877,0.000000e+00,0.0,0.0,0.0,0.0,26.571175
75%,24230.50000,127800.461601,2012-09-06 21:20:30.500000,56272.784453,7.000000,1.0,0.049992,3.336086,1.550224,1.063631,5.334935,3.459486,0.000000e+00,0.0,0.0,0.0,0.0,26.642044
max,32307.00000,171495.535618,2012-09-07 09:28:46,76592.209924,8.000000,1.0,1.178946,3.600773,2.107015,1.063631,7.206650,3.459486,2.523756e-03,0.0,0.0,0.0,0.0,28.050972
std,9326.37191,48357.812231,NaN,22968.249246,1.217815,0.0,0.164612,0.132443,0.357802,0.376928,1.184943,1.221041,7.971078e-05,0.0,0.0,0.0,0.0,0.173091

In [19]:
low_curr_ocv_25.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32307 entries, 0 to 32306
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data_Point                32307 non-null  int64
 1   Test_Time(s)              32307 non-null  float64
 2   Date_Time                 32307 non-null  datetime64[ns]
 3   Step_Time(s)              32307 non-null  float64
 4   Step_Index                32307 non-null  int64
 5   Cycle_Index               32307 non-null  int64
 6   Current(A)                32307 non-null  float64
 7   Voltage(V)                32307 non-null  float64
 8   Charge_Capacity(Ah)       32307 non-null  float64
 9   Discharge_Capacity(Ah)    32307 non-null  float64
 10  Charge_Energy(Wh)         32307 non-null  float64
 11  Discharge_Energy(Wh)      32307 non-null  float64
 12  dV/dt(V/s)                32307 non-null  float64
 13  Internal_Resistance(Ohm)  32307 non-null  int64
 14  Is_FC_Data                32307 non-null  int64
 15  AC_Impedance(Ohm)         32307 non-null  int64
 16  ACI_Phase_Angle(Deg)      32307 non-null  int64
 17  Temperature (C)_1         32307 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(7)
memory usage: 4.4 MB

# LOW CURRENT OCV AT 30 degree celcius

In [20]:
low_curr_ocv_30=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Low Current OCV\OCV30-20120625\A1-007-OCV30-20120625.xlsx",sheet_name=1)

In [21]:
low_curr_ocv_30.head(10)

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
0,1,3.010808,2012-06-25 10:58:13,3.010808,1,1,0.000000,3.358855,0.000000,0.0,0.000000,0.0,-0.000062,0,0,0,0,30.176643,30.575159
1,2,3.041952,2012-06-25 10:58:13,0.030896,2,1,1.151195,3.672473,0.000010,0.0,0.000036,0.0,0.000000,0,0,0,0,30.207148,30.544661
2,3,8.057809,2012-06-25 10:58:18,5.015575,3,1,0.849232,3.600763,0.001214,0.0,0.004372,0.0,-0.000062,0,0,0,0,30.146135,30.378574
3,4,13.065362,2012-06-25 10:58:23,10.023128,3,1,0.826184,3.601070,0.002379,0.0,0.008566,0.0,0.000061,0,0,0,0,30.220667,30.348074
4,5,18.072954,2012-06-25 10:58:28,15.030720,3,1,0.805496,3.600763,0.003513,0.0,0.012651,0.0,-0.000061,0,0,0,0,30.220667,30.378574
5,6,23.080509,2012-06-25 10:58:33,20.038275,3,1,0.786622,3.601070,0.004620,0.0,0.016639,0.0,0.000061,0,0,0,0,30.146135,30.229372
6,7,28.088092,2012-06-25 10:58:38,25.045859,3,1,0.769382,3.601070,0.005703,0.0,0.020536,0.0,0.000000,0,0,0,0,30.159660,30.422670
7,8,33.095648,2012-06-25 10:58:43,30.053414,3,1,0.752867,3.601070,0.006758,0.0,0.024337,0.0,0.000061,0,0,0,0,30.115627,30.242973
8,9,38.103228,2012-06-25 10:58:48,35.060994,3,1,0.736716,3.601070,0.007797,0.0,0.028078,0.0,0.000000,0,0,0,0,30.159660,30.242973
9,10,43.110795,2012-06-25 10:58:53,40.068561,3,1,0.721108,3.600763,0.008811,0.0,0.031729,0.0,-0.000061,0,0,0,0,30.159660,30.242973

In [22]:
low_curr_ocv_30.describe()

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
count,31150.000000,31150.000000,31150,31150.000000,31150.000000,31150.0,31150.000000,31150.000000,31150.000000,31150.000000,31150.000000,31150.000000,31150.000000,31150.0,31150.0,31150.0,31150.0,31150.000000,31150.000000
mean,15575.500000,82879.119805,2012-06-26 09:59:30.199871488,37868.880320,5.967159,1.0,0.000752,3.282232,0.305494,0.795532,1.015056,2.592409,-0.000003,0.0,0.0,0.0,0.0,30.558353,30.477938
min,1.000000,3.010808,2012-06-25 10:58:13,0.030896,1.000000,1.0,-0.050016,1.999740,0.000000,0.000000,0.000000,0.000000,-0.002031,0.0,0.0,0.0,0.0,30.000504,29.731670
25%,7788.250000,42289.364036,2012-06-25 22:43:00.249999872,18343.988166,5.000000,1.0,-0.049995,3.257291,0.043654,0.517831,0.157197,1.711458,0.000000,0.0,0.0,0.0,0.0,30.502785,30.421152
50%,15575.500000,81284.579150,2012-06-26 09:32:55.500000,37842.221660,5.000000,1.0,0.000000,3.306842,0.043654,1.059381,0.157197,3.444468,0.000000,0.0,0.0,0.0,0.0,30.559694,30.482067
75%,23362.750000,123576.509714,2012-06-26 21:17:47.750000128,57340.455169,7.000000,1.0,0.049996,3.339465,0.567299,1.073076,1.867194,3.479076,0.000000,0.0,0.0,0.0,0.0,30.617350,30.536797
max,31150.000000,165868.338984,2012-06-27 09:02:40,77269.004464,8.000000,1.0,1.151195,3.672473,1.104644,1.073076,3.677408,3.479076,0.001777,0.0,0.0,0.0,0.0,30.914827,30.833897
std,8992.374779,46527.087207,NaN,22474.828502,1.040072,0.0,0.054180,0.125837,0.342680,0.354587,1.130405,1.142697,0.000096,0.0,0.0,0.0,0.0,0.090926,0.092138

In [23]:
low_curr_ocv_30.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31150 entries, 0 to 31149
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data_Point                31150 non-null  int64
 1   Test_Time(s)              31150 non-null  float64
 2   Date_Time                 31150 non-null  datetime64[ns]
 3   Step_Time(s)              31150 non-null  float64
 4   Step_Index                31150 non-null  int64
 5   Cycle_Index               31150 non-null  int64
 6   Current(A)                31150 non-null  float64
 7   Voltage(V)                31150 non-null  float64
 8   Charge_Capacity(Ah)       31150 non-null  float64
 9   Discharge_Capacity(Ah)    31150 non-null  float64
 10  Charge_Energy(Wh)         31150 non-null  float64
 11  Discharge_Energy(Wh)      31150 non-null  float64
 12  dV/dt(V/s)                31150 non-null  float64
 13  Internal_Resistance(Ohm)  31150 non-null  int64
 14  Is_FC_Data                31150 non-null  int64
 15  AC_Impedance(Ohm)         31150 non-null  int64
 16  ACI_Phase_Angle(Deg)      31150 non-null  int64
 17  Temperature (C)_1         31150 non-null  float64
 18  Temperature (C)_2         31150 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(7)
memory usage: 4.5 MB

# LOW CURRENT OCV AT 40 degree celcius

In [24]:
low_curr_ocv_40=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Low Current OCV\OCV40-20120627\A1-007-OCV40-20120627.xlsx",sheet_name=1)

In [25]:
low_curr_ocv_40.head(10)

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
0,1,3.010283,2012-06-27 11:43:25,3.010283,1,1,0.000000,3.440106,0.000000,0.0,0.000000,0.0,-0.000062,0,0,0,0,40.262341,40.460873
1,2,3.026131,2012-06-27 11:43:25,0.015609,2,1,1.151271,3.748801,0.000005,0.0,0.000019,0.0,0.000000,0,0,0,0,40.336182,40.460873
2,3,8.033910,2012-06-27 11:43:30,5.007549,3,1,0.552333,3.601070,0.000801,0.0,0.002887,0.0,0.000000,0,0,0,0,40.366360,40.208942
3,4,13.041500,2012-06-27 11:43:35,10.015140,3,1,0.518034,3.601070,0.001546,0.0,0.005566,0.0,0.000000,0,0,0,0,40.262341,40.121464
4,5,18.049071,2012-06-27 11:43:40,15.022711,3,1,0.486638,3.601070,0.002244,0.0,0.008081,0.0,0.000000,0,0,0,0,40.352890,40.417145
5,6,23.056643,2012-06-27 11:43:45,20.030282,3,1,0.457420,3.601070,0.002898,0.0,0.010438,0.0,0.000061,0,0,0,0,40.322708,40.239128
6,7,28.064215,2012-06-27 11:43:50,25.037854,3,1,0.429654,3.601070,0.003515,0.0,0.012660,0.0,0.000000,0,0,0,0,40.352890,40.299500
7,8,33.071785,2012-06-27 11:43:55,30.045425,3,1,0.403703,3.601070,0.004095,0.0,0.014747,0.0,0.000062,0,0,0,0,40.352890,40.299500
8,9,38.079286,2012-06-27 11:44:00,35.052926,3,1,0.378659,3.600763,0.004639,0.0,0.016705,0.0,-0.000062,0,0,0,0,40.383076,40.359871
9,10,43.086932,2012-06-27 11:44:05,40.060571,3,1,0.354703,3.600763,0.005151,0.0,0.018547,0.0,0.000000,0,0,0,0,40.369610,40.346329

In [26]:
low_curr_ocv_40.describe()

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
count,31258.000000,31258.000000,31258,31258.000000,31258.000000,31258.0,31258.000000,31258.000000,31258.000000,31258.000000,31258.000000,31258.000000,31258.000000,31258.0,31258.0,31258.0,31258.0,31258.000000,31258.000000
mean,15629.500000,83182.146533,2012-06-28 10:49:45.445390080,38403.674272,5.985124,1.0,0.000176,3.281685,0.280733,0.805708,0.923404,2.629536,-0.000003,0.0,0.0,0.0,0.0,40.505959,40.489343
min,1.000000,3.010283,2012-06-27 11:43:25,0.015609,1.000000,1.0,-0.050013,1.999740,0.000000,0.000000,0.000000,0.000000,-0.002339,0.0,0.0,0.0,0.0,40.135216,40.119888
25%,7815.250000,42427.009169,2012-06-27 23:30:30.249999872,18823.463111,5.000000,1.0,-0.049995,3.257598,0.013954,0.531118,0.050249,1.757807,0.000000,0.0,0.0,0.0,0.0,40.446560,40.441189
50%,15629.500000,81557.428742,2012-06-28 10:22:40.500000,38388.046949,5.000000,1.0,0.000000,3.308381,0.013954,1.074546,0.050249,3.494321,0.000000,0.0,0.0,0.0,0.0,40.504417,40.487980
75%,23443.750000,123985.717499,2012-06-28 22:09:49.750000128,57952.630847,7.000000,1.0,0.049996,3.339465,0.547477,1.080260,1.790919,3.507773,0.000000,0.0,0.0,0.0,0.0,40.567940,40.545265
max,31258.000000,166414.916638,2012-06-29 09:56:59,77785.938692,8.000000,1.0,1.151271,3.748801,1.086730,1.080260,3.606671,3.507773,0.001598,0.0,0.0,0.0,0.0,40.876335,40.789738
std,9023.551694,46653.945691,NaN,22568.608281,1.019973,0.0,0.050990,0.124427,0.346958,0.352930,1.143649,1.138719,0.000101,0.0,0.0,0.0,0.0,0.088882,0.082627

In [27]:
low_curr_ocv_40.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31258 entries, 0 to 31257
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data_Point                31258 non-null  int64
 1   Test_Time(s)              31258 non-null  float64
 2   Date_Time                 31258 non-null  datetime64[ns]
 3   Step_Time(s)              31258 non-null  float64
 4   Step_Index                31258 non-null  int64
 5   Cycle_Index               31258 non-null  int64
 6   Current(A)                31258 non-null  float64
 7   Voltage(V)                31258 non-null  float64
 8   Charge_Capacity(Ah)       31258 non-null  float64
 9   Discharge_Capacity(Ah)    31258 non-null  float64
 10  Charge_Energy(Wh)         31258 non-null  float64
 11  Discharge_Energy(Wh)      31258 non-null  float64
 12  dV/dt(V/s)                31258 non-null  float64
 13  Internal_Resistance(Ohm)  31258 non-null  int64
 14  Is_FC_Data                31258 non-null  int64
 15  AC_Impedance(Ohm)         31258 non-null  int64
 16  ACI_Phase_Angle(Deg)      31258 non-null  int64
 17  Temperature (C)_1         31258 non-null  float64
 18  Temperature (C)_2         31258 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(7)
memory usage: 4.5 MB

# LOW CURRENT OCV AT 50 degree celcius

In [28]:
low_curr_ocv_50=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Low Current OCV\OCV50-20120702\A1-007-OCV50-20120702.xlsx",sheet_name=1)

In [29]:
low_curr_ocv_50.head(10)

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
0,1,3.008714,2012-07-02 10:52:00,3.008714,1,1,0.000000,3.352392,0.000000e+00,0.0,0.000000e+00,0.0,0.000000,0,0,0,0,46.762955,49.948017
1,2,3.020297,2012-07-02 10:52:00,0.000002,2,1,1.151309,3.657700,6.155660e-10,0.0,2.251555e-09,0.0,0.000000,0,0,0,0,46.762955,49.977978
2,3,8.037763,2012-07-02 10:52:05,5.007566,3,1,0.912931,3.601378,1.282794e-03,0.0,4.619440e-03,0.0,0.000061,0,0,0,0,46.586002,50.094746
3,4,13.045325,2012-07-02 10:52:10,10.015128,3,1,0.898957,3.600763,2.542582e-03,0.0,9.156006e-03,0.0,-0.000123,0,0,0,0,46.702892,49.918056
4,5,18.052910,2012-07-02 10:52:15,15.022712,3,1,0.888250,3.601070,3.785307e-03,0.0,1.363110e-02,0.0,0.000000,0,0,0,0,46.702892,50.168098
5,6,23.060484,2012-07-02 10:52:20,20.030287,3,1,0.878813,3.601070,5.014048e-03,0.0,1.805584e-02,0.0,0.000000,0,0,0,0,46.582767,50.004864
6,7,28.068046,2012-07-02 10:52:25,25.037848,3,1,0.870647,3.601070,6.226866e-03,0.0,2.242323e-02,0.0,-0.000062,0,0,0,0,46.729687,49.914982
7,8,33.075622,2012-07-02 10:52:30,30.045425,3,1,0.863206,3.601070,7.432748e-03,0.0,2.676562e-02,0.0,0.000000,0,0,0,0,46.699661,49.988346
8,9,38.083297,2012-07-02 10:52:35,35.053100,3,1,0.856491,3.600763,8.632590e-03,0.0,3.108626e-02,0.0,-0.000061,0,0,0,0,46.669636,49.988346
9,10,43.090758,2012-07-02 10:52:40,40.060561,3,1,0.850140,3.600763,9.819459e-03,0.0,3.536019e-02,0.0,0.000000,0,0,0,0,46.683044,49.928432

In [30]:
low_curr_ocv_50.describe()

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg),Temperature (C)_1,Temperature (C)_2
count,31475.000000,31475.000000,31475,31475.000000,31475.000000,31475.0,31475.000000,31475.000000,31475.000000,31475.000000,31475.000000,31475.000000,31475.000000,31475.0,31475.0,31475.0,31475.0,31475.000000,31475.000000
mean,15738.000000,83704.689997,2012-07-03 10:07:02.332041216,38368.988081,5.975473,1.0,0.001542,3.283047,0.336891,0.803685,1.124911,2.624447,-0.000003,0.0,0.0,0.0,0.0,50.772843,50.782727
min,1.000000,3.008714,2012-07-02 10:52:00,0.000002,1.000000,1.0,-0.050013,1.999740,0.000000,0.000000,0.000000,0.000000,-0.002216,0.0,0.0,0.0,0.0,46.582767,49.914982
25%,7869.500000,42695.210585,2012-07-02 22:43:32.500000,18645.694362,5.000000,1.0,-0.049995,3.257598,0.069301,0.526186,0.249555,1.742932,0.000000,0.0,0.0,0.0,0.0,50.693684,50.703575
50%,15738.000000,82097.290906,2012-07-03 09:40:15,38347.986437,5.000000,1.0,0.010983,3.308688,0.069301,1.073371,0.249555,3.493771,0.000000,0.0,0.0,0.0,0.0,50.793583,50.787853
75%,23606.500000,124794.372180,2012-07-03 21:31:52.500000,58047.774699,7.000000,1.0,0.049992,3.339773,0.604593,1.081027,1.995016,3.512188,0.000000,0.0,0.0,0.0,0.0,50.896900,50.870598
max,31475.000000,167494.127364,2012-07-04 09:23:33,77843.159249,8.000000,1.0,1.151309,3.657700,1.147579,1.081027,3.822364,3.512188,0.001231,0.0,0.0,0.0,0.0,51.419418,51.248421
std,9086.194198,46988.606063,NaN,22713.080086,1.035112,0.0,0.058594,0.126215,0.348679,0.355956,1.148839,1.149343,0.000099,0.0,0.0,0.0,0.0,0.274730,0.131082

In [31]:
low_curr_ocv_50.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31475 entries, 0 to 31474
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data_Point                31475 non-null  int64
 1   Test_Time(s)              31475 non-null  float64
 2   Date_Time                 31475 non-null  datetime64[ns]
 3   Step_Time(s)              31475 non-null  float64
 4   Step_Index                31475 non-null  int64
 5   Cycle_Index               31475 non-null  int64
 6   Current(A)                31475 non-null  float64
 7   Voltage(V)                31475 non-null  float64
 8   Charge_Capacity(Ah)       31475 non-null  float64
 9   Discharge_Capacity(Ah)    31475 non-null  float64
 10  Charge_Energy(Wh)         31475 non-null  float64
 11  Discharge_Energy(Wh)      31475 non-null  float64
 12  dV/dt(V/s)                31475 non-null  float64
 13  Internal_Resistance(Ohm)  31475 non-null  int64
 14  Is_FC_Data                31475 non-null  int64
 15  AC_Impedance(Ohm)         31475 non-null  int64
 16  ACI_Phase_Angle(Deg)      31475 non-null  int64
 17  Temperature (C)_1         31475 non-null  float64
 18  Temperature (C)_2         31475 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(7)
memory usage: 4.6 MB

# DYNAMIC TEST PROFILES

## Dynamic test profile at -10 degree celcius

In [32]:
dst_minus_10=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Dynamic Profiles\DST-US06-FUDS-N10\A1-007-DST-US06-FUDS-N10-20120829.xlsx",sheet_name=2)

In [33]:
dst_minus_10.head(10)

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
0,3.003816,3.003816,1,0.000000,2.803019,-8.300812
1,8.004204,5.000077,2,-1.099373,2.109292,-8.145514
2,12.006524,9.002396,2,-1.099373,1.999416,-8.145514
3,17.013409,5.003358,3,0.000000,2.671906,-8.145514
4,22.015560,10.005508,3,0.000000,2.689757,-8.223158
5,27.017961,15.007909,3,0.000000,2.697759,-8.191391
6,32.018054,20.008003,3,0.000000,2.702376,-8.223158
7,37.026317,25.016265,3,0.000000,2.706993,-8.113752
8,42.030830,30.020778,3,0.000000,2.709763,-8.067879
9,47.039970,35.029918,3,0.000000,2.713148,-8.223158

In [34]:
dst_minus_10.describe()

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
count,19784.000000,1.978400e+04,19784.000000,19784.000000,19784.000000,19784.000000
mean,20198.292967,8.537425e+02,15.393095,-0.322788,3.165822,-7.780438
std,9740.553386,1.314745e+03,6.824850,0.887062,0.304046,0.771371
min,3.003816,3.849596e-07,1.000000,-3.849595,1.999416,-9.123863
25%,11169.170425,1.615422e+02,8.000000,-0.758130,2.985145,-8.505587
50%,20727.640514,3.380252e+02,16.000000,-0.008637,3.164809,-7.835041
75%,30207.416255,8.841617e+02,24.000000,0.134114,3.347782,-7.105399
max,35460.091077,7.315288e+03,27.000000,2.061261,3.814677,-5.779083

In [35]:
dst_minus_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19784 entries, 0 to 19783
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Test_Time(s)       19784 non-null  float64
 1   Step_Time(s)       19784 non-null  float64
 2   Step_Index         19784 non-null  int64
 3   Current(A)         19784 non-null  float64
 4   Voltage(V)         19784 non-null  float64
 5   Temperature (C)_1  19784 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 927.5 KB

## Dynamic test profile at 0 degree celcius

In [36]:
dst_0=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Dynamic Profiles\DST-US06-FUDS-0\A1-007-DST-US06-FUDS-0-20120813.xlsx",sheet_name=2)

In [37]:
dst_0.head(10)

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
0,3.057882,3.005927,1,0.000000,2.846107,1.256174
1,8.065274,5.007092,2,-1.099185,2.468466,1.256174
2,13.072544,10.014362,2,-1.099373,2.403833,1.332009
3,18.077826,15.019644,2,-1.099373,2.333968,1.256174
4,23.078087,20.019905,2,-1.099373,2.250561,1.301033
5,28.082401,25.024220,2,-1.099560,2.134222,1.452703
6,31.764519,28.706338,2,-1.099373,1.999416,1.345893
7,36.774210,5.008228,3,0.000000,2.548488,1.332009
8,41.783489,10.017507,3,0.000000,2.566955,1.376867
9,46.792691,15.026708,3,0.000000,2.577727,1.332009

In [38]:
dst_0.describe()

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
count,23248.000000,2.324800e+04,23248.000000,23248.000000,23248.000000,23248.000000
mean,20466.229194,5.328935e+02,15.566027,-0.348093,3.165784,0.758652
std,10301.715583,6.231313e+02,6.763405,0.918652,0.259291,0.513072
min,3.057882,7.699193e-07,1.000000,-3.849219,1.961867,-0.521931
25%,10658.417985,1.537679e+02,8.000000,-0.829459,3.026156,0.414654
50%,20792.540701,3.166302e+02,16.000000,-0.191961,3.172349,0.683727
75%,30805.391681,6.670666e+02,24.000000,0.080958,3.293613,1.083241
max,36926.114253,4.328226e+03,27.000000,2.060698,3.728192,3.665956

In [39]:
dst_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23248 entries, 0 to 23247
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Test_Time(s)       23248 non-null  float64
 1   Step_Time(s)       23248 non-null  float64
 2   Step_Index         23248 non-null  int64
 3   Current(A)         23248 non-null  float64
 4   Voltage(V)         23248 non-null  float64
 5   Temperature (C)_1  23248 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

## Dynamic test profile at 10 degree celcius

In [40]:
dst_10=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Dynamic Profiles\DST-US06-FUDS-10\A1-007-DST-US06-FUDS-10-20120815.xlsx",sheet_name=2)

In [41]:
dst_10.head(10)

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
0,3.008291,3.008291,1,0.000000,2.968602,9.646121
1,8.015758,5.007161,2,-1.099185,2.729152,9.690903
2,13.018937,10.010341,2,-1.099373,2.703299,9.598107
3,18.027239,15.018642,2,-1.099373,2.678369,9.797547
4,23.031320,20.022724,2,-1.099373,2.654363,9.766615
5,28.035736,25.027140,2,-1.099373,2.629125,9.721836
6,33.039112,30.030516,2,-1.099373,2.603272,9.797547
7,38.047386,35.038790,2,-1.099373,2.576496,9.690903
8,43.053577,40.044981,2,-1.099373,2.547873,9.918034
9,48.062643,45.054046,2,-1.099373,2.515864,9.873258

In [42]:
dst_10.describe()

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
count,23881.000000,2.388100e+04,23881.000000,23881.000000,23881.000000,23881.000000
mean,19919.260228,4.755559e+02,15.518613,-0.356659,3.190354,10.273799
std,10203.319502,4.779053e+02,6.705619,0.932044,0.224014,0.354084
min,3.008291,7.699193e-07,1.000000,-3.849407,1.987413,9.598107
25%,10199.540085,1.497195e+02,8.000000,-0.848430,3.077862,10.038515
50%,20191.833861,3.095074e+02,16.000000,-0.243238,3.196048,10.179319
75%,30156.128886,5.997450e+02,24.000000,0.072130,3.302231,10.451158
max,36435.385542,2.681824e+03,27.000000,2.061261,3.699877,11.582196

In [43]:
dst_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23881 entries, 0 to 23880
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Test_Time(s)       23881 non-null  float64
 1   Step_Time(s)       23881 non-null  float64
 2   Step_Index         23881 non-null  int64
 3   Current(A)         23881 non-null  float64
 4   Voltage(V)         23881 non-null  float64
 5   Temperature (C)_1  23881 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

## Dynamic test profile at 20 degree celcius

In [44]:
dst_20=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Dynamic Profiles\DST-US06-FUDS-20\A1-008-DST-US06-FUDS-20-20120817.xlsx",sheet_name=2)

In [45]:
dst_20.head(10)

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
0,3.008332,3.008332,1,0.000000,3.108637,18.427523
1,8.014952,5.006227,2,-1.099776,2.891659,18.444551
2,13.018221,10.009497,2,-1.099776,2.877501,18.427523
3,18.022437,15.013712,2,-1.099957,2.864575,18.489090
4,23.026696,20.017971,2,-1.099776,2.851957,18.382978
5,28.035930,25.027205,2,-1.099957,2.839954,18.458305
6,33.045322,30.036597,2,-1.099776,2.827950,18.365955
7,38.051520,35.042795,2,-1.099957,2.815948,18.427523
8,43.066605,40.057881,2,-1.099776,2.803944,18.352194
9,48.077106,45.068381,2,-1.099776,2.791941,18.321405

In [46]:
dst_20.describe()

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
count,24992.000000,2.499200e+04,24992.000000,24992.000000,24992.000000,24992.000000
mean,20478.506604,4.711195e+02,15.573944,-0.362114,3.195718,20.023982
std,10524.199546,4.800529e+02,6.722357,0.935984,0.229664,0.324123
min,3.008332,7.699193e-07,1.000000,-3.849713,1.898483,18.321405
25%,10446.853748,1.524163e+02,8.000000,-0.862705,3.091094,19.784843
50%,20715.938621,3.099327e+02,16.000000,-0.279794,3.208663,19.990610
75%,30962.624857,5.888735e+02,24.000000,0.063971,3.315767,20.230755
max,37521.292897,2.867548e+03,27.000000,2.061054,3.732181,21.150887

In [47]:
dst_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24992 entries, 0 to 24991
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Test_Time(s)       24992 non-null  float64
 1   Step_Time(s)       24992 non-null  float64
 2   Step_Index         24992 non-null  int64
 3   Current(A)         24992 non-null  float64
 4   Voltage(V)         24992 non-null  float64
 5   Temperature (C)_1  24992 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

## Dynamic test profile at 25 degree celcius

In [48]:
dst_25=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Dynamic Profiles\DST-US06-FUDS-25\A1-007-DST-US06-FUDS-25-20120827.xlsx",sheet_name=2)

In [49]:
dst_25.head(10)

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
0,3.053504,3.000204,1,0.000000,2.766393,26.788187
1,8.061154,5.007273,2,-1.099373,2.501398,26.818743
2,13.062293,10.008411,2,-1.099185,2.435226,26.818743
3,18.071620,15.017739,2,-1.099373,2.340432,26.713451
4,23.073773,20.019892,2,-1.099185,2.115448,26.788187
5,24.301853,21.247971,2,-1.099373,1.998801,26.893473
6,29.307341,5.004141,3,0.000000,2.460464,26.893473
7,34.311587,10.008388,3,0.000000,2.474314,26.713451
8,39.319818,15.016618,3,0.000000,2.482316,26.818743
9,44.325095,20.021896,3,0.000000,2.486933,26.937641

In [50]:
dst_25.describe()

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
count,24469.000000,2.446900e+04,24469.000000,24469.000000,24469.000000,24469.000000
mean,19726.353242,4.718362e+02,15.557767,-0.363447,3.204312,27.256177
std,10192.971787,5.018513e+02,6.710170,0.942908,0.211759,0.252976
min,3.053504,3.849596e-07,1.000000,-3.849407,1.937861,26.427921
25%,10017.592323,1.497245e+02,8.000000,-0.867589,3.110487,27.090370
50%,19958.708627,3.061075e+02,16.000000,-0.286440,3.214515,27.216118
75%,29860.944817,5.805784e+02,24.000000,0.060672,3.311772,27.385750
max,36294.795004,3.070756e+03,27.000000,2.061261,3.699877,28.366453

In [51]:
dst_25.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24469 entries, 0 to 24468
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Test_Time(s)       24469 non-null  float64
 1   Step_Time(s)       24469 non-null  float64
 2   Step_Index         24469 non-null  int64
 3   Current(A)         24469 non-null  float64
 4   Voltage(V)         24469 non-null  float64
 5   Temperature (C)_1  24469 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

## Dynamic test profile at 30 degree celcius

In [52]:
dst_30=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Dynamic Profiles\DST-US06-FUDS-30\A1-007-DST-US06-FUDS-30-20120820.xlsx",sheet_name=2)

In [53]:
dst_30.head(10)

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
0,3.004871,3.004871,1,0.000000,3.075400,31.391201
1,8.011347,5.006164,2,-1.099373,2.888580,31.242373
2,13.017574,10.012391,2,-1.099373,2.876269,31.391201
3,18.023831,15.018647,2,-1.099373,2.864882,31.421654
4,23.027999,20.022816,2,-1.099373,2.853494,31.496058
5,28.032410,25.027227,2,-1.099373,2.842414,31.421654
6,33.039675,30.034492,2,-1.099373,2.831334,31.421654
7,38.041781,35.036597,2,-1.099373,2.819946,31.465605
8,43.043244,40.038061,2,-1.099373,2.808558,31.465605
9,48.043298,45.038114,2,-1.099560,2.796555,31.391201

In [54]:
dst_30.describe()

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
count,24598.000000,2.459800e+04,24598.000000,24598.000000,24598.000000,24598.000000
mean,19621.906470,4.721762e+02,15.567973,-0.364780,3.206956,32.004251
std,10170.231343,5.126144e+02,6.716462,0.942931,0.203930,0.234140
min,3.004871,3.849596e-07,1.000000,-3.849407,1.949556,31.174595
25%,9938.020160,1.497872e+02,8.000000,-0.871909,3.116026,31.850952
50%,19831.893588,3.053628e+02,16.000000,-0.297146,3.217592,31.952837
75%,29711.598095,5.757773e+02,24.000000,0.049966,3.312695,32.128143
max,36178.975170,3.143676e+03,27.000000,2.061261,3.696491,33.004131

In [55]:
dst_30.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24598 entries, 0 to 24597
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Test_Time(s)       24598 non-null  float64
 1   Step_Time(s)       24598 non-null  float64
 2   Step_Index         24598 non-null  int64
 3   Current(A)         24598 non-null  float64
 4   Voltage(V)         24598 non-null  float64
 5   Temperature (C)_1  24598 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

## Dynamic test profile at 50 degree celcius

In [56]:
dst_50=pd.read_excel(r"C:\Users\jaiku\PycharmProjects\Assignments\A123 battery\Dynamic Profiles\DST-US06-FUDS-50\A1-007-DST-US06-FUDS-50-20120824.xlsx",sheet_name=2)

In [57]:
dst_50.head(10)

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
0,3.007451,3.007451,1,0.000000,2.775626,50.789497
1,8.012196,5.004451,2,-1.099373,2.564185,50.789497
2,13.012202,10.004457,2,-1.099373,2.523558,50.789497
3,18.014646,15.006900,2,-1.099373,2.473083,50.746269
4,23.021725,20.013979,2,-1.099373,2.404141,50.879433
5,28.021949,25.014203,2,-1.099185,2.257025,50.952637
6,30.994169,27.986424,2,-1.099185,1.999724,50.746269
7,35.996811,5.001098,3,0.000000,2.367208,50.836208
8,41.000069,10.004355,3,0.000000,2.385059,50.866188
9,46.000322,15.004608,3,0.000000,2.393369,50.819477

In [58]:
dst_50.describe()

,Test_Time(s),Step_Time(s),Step_Index,Current(A),Voltage(V),Temperature (C)_1
count,24763.000000,2.476300e+04,24763.000000,24763.000000,24763.000000,24763.000000
mean,19197.121372,4.804346e+02,15.652263,-0.367141,3.214068,52.430148
std,10034.610605,5.380568e+02,6.695618,0.947778,0.195042,0.297348
min,3.007451,3.849596e-07,1.000000,-3.849407,1.926166,50.746269
25%,9617.456118,1.515973e+02,8.000000,-0.880455,3.126183,52.255783
50%,19349.539252,3.072322e+02,16.000000,-0.311609,3.226826,52.425720
75%,29076.097827,5.734703e+02,24.000000,0.034939,3.320697,52.598465
max,35582.345606,3.301138e+03,27.000000,2.061261,3.709726,53.452240

In [59]:
dst_50.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24763 entries, 0 to 24762
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Test_Time(s)       24763 non-null  float64
 1   Step_Time(s)       24763 non-null  float64
 2   Step_Index         24763 non-null  int64
 3   Current(A)         24763 non-null  float64
 4   Voltage(V)         24763 non-null  float64
 5   Temperature (C)_1  24763 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

In [60]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib.ticker import ScalarFormatter
from matplotlib.gridspec import GridSpec

# Set style for better visualization
plt.style.use('seaborn-v0_8-whitegrid')

# Define color map for temperatures
temp_colors = {
    '-10': '#0033A0',  # Deep blue
    '0': '#0066CC',    # Blue
    '10': '#3399FF',   # Light blue
    '20': '#66CC00',   # Green
    '25': '#FFCC00',   # Yellow
    '30': '#FF9900',   # Orange
    '40': '#FF6600',   # Dark orange
    '50': '#CC0000'    # Red
}

# List of all temperature datasets
temp_datasets = {
    '-10': low_curr_ocv_minus_10,
    '0': low_curr_ocv_0,
    '10': low_curr_ocv_10,
    '20': low_curr_ocv_20,
    '25': low_curr_ocv_25,
    '30': low_curr_ocv_30,
    '40': low_curr_ocv_40,
    '50': low_curr_ocv_50
}